body {
    padding: 0px;
    margin: 0px;
}

main {
    margin-top: -30px;
}

header {
    display: flex;
    background-color: #fef7f4;
    margin: 0px;
    height: 60px;
    padding-top: 10px;
}

.nav_liste {
    display: flex;
}

.nav_liste li {
    margin-right: 30px;
    list-style: none;
}

.nav_login {
    margin: 16px;
    width: 70px;
    height: 24px;
    color: white;
    background-color: #eb662b;
    border: none;
}

.logo {
    margin-left: 20px;
}

form {
    background-color: #fdeee8;
    margin-top: 40px;
}

.form_info {
 
  
    display: flex;
    ;
    margin-top: -20px;
    padding-left: 50px;
    font-family: "Lora", serif;
    font-size: 12px;
}
.form_info1{
    display: flex;
    flex-direction: column;
}
.form_info2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.form_input {
    border: none;
    border-bottom: 2px solid maroon;
   
    background: none;
    margin-top: -15px;
    margin-bottom: 20px;
    width: 90px;
}

.form_label {
    font-family: "EB Garamond", serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
}


    


.form_login {
    width: 35%;
    height: 25px;
    background-color: #eb662b;
    color: #fef7f4;
    border: none;
    font-size: 15px;
}

.div_img {
    margin-right: 15px;
}

.form_image {
    margin-top: 5px;
    margin-left: 20px;
    width: 370px;
    height: 510px;
    z-index: 1;
    box-shadow: -40px -1px 90px 0 #612000;
}

.contenu {
    display: flex;
    margin-left: 20px;
}

main {
    display: flex;
    padding: 100px;
    padding-left: 230px;
}

form {
    width: 330px;
    height: 450px;
    margin-top: 50px;
}

.form_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#img_logo {
    width: 60px;
    height: 50px;
    margin-top: -20px;
}

#title_p {
    font-size: 30px;
    font-family: "Merriweather", serif;
    display: flex;
    justify-content: center;
    color: #693a1f;
    font-weight: bolder;
}

.form_link1 {
    font-size: 13px;
    margin-top: 20px;
    color: black;
}

footer {
    background-color: #fef7f4;
    padding: 20px;
    padding-left: 40px;
}

#foot_para1 {
    font-size: 20px;
}

@media(max-width:480px) {
    main {
        background-image: url('grand_imag.jpg');
        margin-top: 0px;
        background-size: cover;
        background-position: center;
        margin-bottom: -110px;
    }
}