*{
    margin: 0;
    text-decoration-line: none;
}

nav {
  height: 70px;
  padding: 0;
  display: flex;
  justify-content:flex-start;
  background: #FDF0EA;
  
}
 .logo {
   margin: 17px; 
   display: block;
}
ul{
    margin-top: 21px;
    display: block;
}
li {
  display: inline-block;
  margin-right: 20px;
}
ul li a {
color:black;
}
.login {
  padding: 10px 10px;
  background-color: #EB662B; 
  color: #fff;
  border:none; 
  cursor: pointer; 
}

.Act1
{
    background-image: url("dest-09.jpg");
    width: 100%;
    padding-top: 50%;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .Act1 h1{
    position: absolute;
    top: 70%;
    left: 34%;
    font-size:100px;
    color:white;
  }