body {
    padding: 0px;
    margin: 0px;
}

main {
    margin-top: -30px;
}

header {
    display: flex;
    background-color: #fef7f4;
    margin: 0px;
    height: 60px;
    padding-top: 10px;
}

.nav_liste {
    display: flex;
}

.nav_liste li {
    margin-right: 30px;
    list-style: none;
}

.nav_login {
    margin: 16px;
    width: 70px;
    height: 24px;
    color: white;
    background-color: #eb662b;
    border: none;
}

.logo {
    margin-left: 20px;
}

form {
    background-color: #fdeee8;
    margin-top: 40px;
}

.form_info {
<<<<<<< HEAD
=======
 
  
>>>>>>> 1a12f4dd4a1e5b01e4c76ba60323ab3617d3392f
    display: flex;
    ;
    margin-top: -20px;
    padding-left: 50px;
    font-family: "Lora", serif;
    font-size: 12px;
}
<<<<<<< HEAD

.form_info1 {
    display: flex;
    flex-direction: column;
}

.form_info2 {
=======
.form_info1{
    display: flex;
    flex-direction: column;
}
.form_info2{
>>>>>>> 1a12f4dd4a1e5b01e4c76ba60323ab3617d3392f
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
<<<<<<< HEAD

.form_input {
    border: none;
    border-bottom: 2px solid maroon;
    background: none;
    margin-top: -15px;
    margin-bottom: 20px;
    width: 100px;
=======
.form_input {
    border: none;
    border-bottom: 2px solid maroon;
   
    background: none;
    margin-top: -15px;
    margin-bottom: 20px;
    width: 90px;
>>>>>>> 1a12f4dd4a1e5b01e4c76ba60323ab3617d3392f
}

.form_label {
    font-family: "EB Garamond", serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

<<<<<<< HEAD
=======

    


>>>>>>> 1a12f4dd4a1e5b01e4c76ba60323ab3617d3392f
.form_login {
    width: 35%;
    height: 25px;
    background-color: #eb662b;
    color: #fef7f4;
    border: none;
    font-size: 15px;
}

.div_img {
    margin-right: 15px;
}

.form_image {
    margin-top: 5px;
    margin-left: 20px;
    width: 370px;
    height: 510px;
    z-index: 1;
    box-shadow: -40px -1px 90px 0 #612000;
}

.contenu {
    display: flex;
    margin-left: 20px;
}

main {
    display: flex;
    padding: 100px;
    padding-left: 230px;
}

form {
    width: 330px;
<<<<<<< HEAD
    height: 500px;
=======
    height: 450px;
>>>>>>> 1a12f4dd4a1e5b01e4c76ba60323ab3617d3392f
    margin-top: 50px;
}

.form_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#img_logo {
    width: 60px;
    height: 50px;
    margin-top: -20px;
}

#title_p {
    font-size: 30px;
    font-family: "Merriweather", serif;
    display: flex;
    justify-content: center;
    color: #693a1f;
    font-weight: bolder;
}

.form_link1 {
    font-size: 13px;
    margin-top: 20px;
    color: black;
}

footer {
    background-color: #fef7f4;
    padding: 20px;
    padding-left: 40px;
}

#foot_para1 {
    font-size: 20px;
}

<<<<<<< HEAD
.form_input:focus {
    padding-top: 20px;
}

.form_input::placeholder {
    font-size: 9px;
}

@media(max-width:480px) {
    form {
        width: 630px;
        height: 800px;
        margin-top: -20px;
        margin-left: -160px;
        box-shadow: -40px -1px 90px 0 #612000;
    }
    
    .form_logo {
        display: flex;
        justify-content: center;
        align-items: center;
       
      
    }
    .form_image{
        box-shadow: none;
    }
    .form_info3{
        margin-left: 140px;
    }
    .div_img{
      
        margin-top: 900px;
        margin-left: -500px;
        width: 300px;
        height: 400px;
        z-index: -1;
        margin-bottom: 100px;
    }
    .form_info{
        margin-left: 100px;
        
        
        

    }
    .form_label{
        font-size: 30px;
        font-weight: bold;
        padding: 30px;
    }
    form{
        height: 900px;
    }

  
   
}

footer {
    background-color: #FEF7F4;
  
}

.foot {
    display: flex;
    justify-content: flex-start;
    padding: 31px;
    gap: 10%;
}

.foot ul {
    padding: 0px 0px 39px;
    list-style-type: none;
}

h5 foot {
    font-size: 15px;
    font-weight: bold;
}

.col {
    margin: 15px;
}

.fa-regular,
.far {
    font-weight: 400;
    margin: 5px;
}

.fa-solid,
.fas {
    font-weight: 900;
    margin: 5px;
}

.fa-brands,
.fab {
    font-weight: 400;
    background-color: #eb662b;
    color: white;
    /* height: 17px; */
    /* width: 17px; */
    padding: 10px;
    border-radius: 5px;
}

h5 {
    font-size: 20px;
}

.foot ul a {
    padding: 0px 0px 39px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

hr {
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.copyright {
    margin-bottom: 13px;
    margin-left: 2%;
    margin-right: 2%;
}

.copyright a {
    color: #eb662b;
    font-weight: bold;
}

@media (max-width: 480px) {
    .foot {
        display: flex;
        flex-direction: column;
margin-bottom: 230px; 
padding-bottom: 0px;   }
}


header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-right: 191px;
    padding: 3px;
}

ul {
    padding: 15px 0px 5px 39px;
}

.login {
    background-color: #EB662B;
    color: #ffffff;
    padding: 10px 15px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

header {
    background-color: #FEF7F4;
    color: #fff;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}


@media  (max-width: 480px) {
    header .container {
        padding-right: 10px; /* Adjust padding as needed for smaller screens */
    }

    nav {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    nav.show-menu {
        display: block;
    }

    nav ul {
        text-align: center;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        background-color: #FEF7F4;
        border: none;
        cursor: pointer;
        margin-left: 400px;
    }

}
=======
@media(max-width:480px) {
    main {
        background-image: url('grand_imag.jpg');
        margin-top: 0px;
        background-size: cover;
        background-position: center;
        margin-bottom: -110px;
    }
}
>>>>>>> 1a12f4dd4a1e5b01e4c76ba60323ab3617d3392f
